theme = "rose_pine_moon"

[editor]
line-number = "relative"
mouse = true
cursorline = true
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.gutters]
layout = ["diagnostics", "spacer", "line-numbers", "spacer", "diff"]

[keys.normal]
A-left = "jump_view_left"
A-right = "jump_view_right"
A-up = "jump_view_up"
A-down = "jump_view_down"
